<header-component></header-component>
<div class="container-fluid mb-5">
    <div class="row" style="margin-top: 80px">
        <div class="col-12">
            <div class="row">
                <div class="mx-auto col-4 text-center">
                    <h3>Nuevo usuario</h3>
                </div>
            </div>
            <div class="row" ng-show="edited">
                <div class="col-4 mx-auto">
                    <ng-form name="userForm" class="form" ng-show="result == null">
                        <div class="form-group">
                            <label>ID</label>
                            <input type="text" class="form-control" id="id" name="id" ng-disabled="true" ng-model="id" />
                        </div>
                        <div class="form-group" ng-class="{ 'has-error' : userForm.dni.$invalid && !userForm.dni.$pristine }">
                            <label>DNI</label>
                            <input type="text" class="form-control" id="dni" name="dni" ng-model="dni" ng-required="true" ng-pattern="/^[0-9]{8}[TRWAGMYFPDXBNJZSQVHLCKET]$/"  placeholder="Dni"
                                   />
                            <div ng-show="userForm.dni.$error.pattern && !userForm.dni.$pristine" class="alert alert-danger" role="alert">
                                Formato dni no valido
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Nombre</label>
                            <input type="text" class="form-control" id="nombre" name="nombre" ng-model="nombre" ng-required="true"  placeholder="Nombre"/>
                            <div ng-show="!userForm.nombre.$valid && !userForm.nombre.$pristine" class="alert alert-danger" role="alert">
                                Nombre obligatorio
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Primer apellido</label>
                            <input type="text" class="form-control" id="ape1" name="ape1" ng-model="ape1" ng-required="true"  placeholder="Primer apellido"/>
                            <div ng-show="!userForm.ape1.$valid && !userForm.ape1.$pristine" class="alert alert-danger" role="alert">
                                Primer apellido obligatorio
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Segundo apellido</label>
                            <input type="text" class="form-control" id="ape2" name="ape2" ng-model="ape2" ng-required="true"  placeholder="Segundo apellido"/>
                            <div ng-show="!userForm.ape2.$valid && !userForm.ape2.$pristine" class="alert alert-danger" role="alert">
                                Segundo apellido obligatorio
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Login</label>
                            <input type="text" class="form-control" id="login2" name="login2" ng-model="login2" ng-minlength="4" ng-required="true"  placeholder="Login"/>
                            <div ng-show="userForm.login2.$error.minlength" class="alert alert-danger" role="alert">
                                La longitud del login es demasiado corta
                            </div>
                            <div ng-show="!userForm.login2.$valid  && !userForm.login2.$pristine" class="alert alert-danger" role="alert">
                                Login obligatorio
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Contraseña</label>
                            <input type="password" class="form-control" ng-class="{' is-invalid': userForm.pass.$invalid && !userForm.pass.$pristine}"  placeholder="Contraseña"
                                   id="pass" name="pass" ng-model="pass" ng-minlength="4" ng-required="true"/>
                            <div ng-show="userForm.pass.$error.minlength" class="alert alert-danger" role="alert">
                                La longitud de la constraseña es demasiado corta
                            </div>
                        </div>
                        <label for="obj_tipoUsuario">Tipo de usuario:</label>
                        <div class="form-group row ml-3">
                            <tipousuario-selection 
                                class="modal fade" 
                                id="cadd-location-modal" 
                                obj="obj_tipoUsuario"
                                on-tipousuario-set="tipoUsuarioRefresh(this,false)">                          
                            </tipousuario-selection>

                            <div class="control">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"
                                              data-toggle="modal"
                                              data-target="#cadd-location-modal">
                                            <span class="fas fa-search"></span>
                                        </span>
                                    </div>
                                    <input ng-model="obj_tipoUsuario.id"
                                           ng-change="tipoUsuarioRefresh(this, true)"
                                           aria-describedby="basic-addon2"
                                           class="form-control col-sm-2"
                                           id="obj_tipoUsuario"
                                           name="obj_tipoUsuario"
                                           type="text"
                                           ng-required
                                           ng-model-options="{debounce: 1000}"
                                           maxlength="2" />
                                    <div class="input-group-append">
                                        <span class="input-group-text">
                                            <a href="../tipousuario/view/{{obj_tipoUsuario.id}}">
                                                <span class="p-2 bd-highlight"><i class="fas fa-users fa-1x"></i></span>
                                                Tipo de usuario: {{obj_tipoUsuario.desc}}
                                            </a>
                                        </span>
                                    </div>
                                </div>
                                <div ng-show="!userForm.obj_tipoUsuario.$valid">Tipo de usuario no válido</div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between flex-wrap">
                            <button ng-click="update()" type="button" class="btn btn-primary btn-block" ng-disabled="userForm.$invalid">Nuevo</button>
                            <button type="button" class="btn btn-primary btn-block" onclick="window.history.back()">Volver</button>
                        </div>
                    </ng-form>
                </div>
            </div>
            <div class="row" ng-show="!edited">
                <div class="col-4 mx-auto">
                    <div class="alert alert-success" role="alert">
                        <p class="text-center mt-2"> Usuario creado correctamente.<p> 
                    </div>
                    <button type="button" class="btn btn-primary btn-block mt-2" onclick="window.history.back()">Volver</button>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="footer" ng-include="'js/app/footer.html'"></footer>