<header-component></header-component>
<div class="container-fluid">
    <div class="row" style="margin-top: 70px">
        <div class="col-12">
            <div class="row mt-5">
                <div class="col-5 mx-auto">
                    <h4 class="text-center mb-3"><i class="fas fa-edit fa-1x"></i> Crear linea</h4>
                </div>
            </div>
            <div class="row" ng-show="edited">
                <div class="col-5 mx-auto">

                    <form name="userForm">
                        <div class="form-group">
                            <label>ID</label>
                            <input type="text" class="form-control" id="id" name="id" ng-disabled="true" ng-model="id" />
                        </div>
                        <div class="form-group">
                            <label>Cantidad</label>
                            <input type="text" class="form-control" id="cantidad" name="cantidad" ng-model="cantidad" ng-required="true" placeholder="Cantidad"/>
                            <div ng-show="!userForm.cantidad.$valid && !userForm.cantidad.$pristine" class="alert alert-danger" role="alert">
                                Cantidad obligatoria
                            </div>
                        </div>
           <label for="obj_Producto">Producto:</label>
                        <div class="form-group row" style="padding-left:15px;">
                            <producto-selection 
                                class="modal fade" 
                                id="cadd-location-modal" 
                                obj="obj_Producto"
                                on-usuario-set="productoRefresh(this,false)">                          
                            </producto-selection>

                            <div class="control">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"
                                              data-toggle="modal"
                                              data-target="#cadd-location-modal">
                                            <span class="fas fa-search"></span>
                                        </span>
                                    </div>
                                    <input ng-model="obj_Producto.id"
                                           ng-change="productoRefresh(this, true)"
                                           aria-describedby="basic-addon2"
                                           class="form-control col-sm-2"
                                           id="obj_Producto"
                                           name="obj_Producto"
                                           type="text"
                                           ng-required
                                           ng-model-options="{debounce: 1000}"
                                           maxlength="3" />
                                    <div class="input-group-append">
                                        <span class="input-group-text">
                                            <a href="../producto/view/{{obj_Producto.id}}">
                                                <span class="p-2 bd-highlight"><i class="fas fa-user"></i></span>
                                                Producto: {{obj_Producto.desc}}
                                            </a>
                                        </span>
                                    </div>
                                </div>
                                <div ng-show="!userForm.obj_Producto.$valid">Producto no válido</div>
                            </div>
                        </div>
                        
                          <div class="form-group">
              <label>Factura</label>
              <input type="text" class="form-control" id="id_factura" name="id_factura" ng-model="id_factura" ng-required="true"/></div>
                     
                        
                        
                        <div class="d-flex justify-content-between flex-wrap">
                            <button ng-click="update()" type="button" class="btn btn-primary btn-block" ng-disabled="userForm.$invalid">Crear</button>
                            <button type="button" class="btn btn-primary btn-block" onclick="window.history.back()">Volver</button>
                        </div>

                </div>
            </div>
            <div class="row" ng-show="!edited">
                <div class="col-5 mx-auto">
                    <div class="alert alert-success" role="alert">
                        <p class="text-center mt-2"> Linea creada correctamente.<p> 
                    </div>
                    <button type="button" class="btn btn-primary btn-block mt-2" onclick="window.history.back()">Volver</button>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="footer" ng-include="'js/app/footer.html'"></footer>