<header-component></header-component>
<main role="main" class="col-md-9 ml-sm-auto col-lg-12 px-4" style="margin-top: 50px">
    <div class="d-flex justify-content-between flex-wrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Productos en el carrito</h1>

    </div>


    <div class="row" ng-show="!carritoVacio">
        <div class="col-3">
            <strong><a href="/producto/plist"><p>Añadir más productos</p></a></strong>
        </div>
        <div class="col-3">
            <button class="btn btn-danger" ng-click="emptyCart()"> <strong>Vaciar el carrito</strong></button>
        </div>
    </div>

    <div class="row" style="margin-top: 25px;" ng-show="!carritoVacio">
        <div class="col-12">
            <table class="table table-hover table-dark">
                <thead>
                    <tr>
                        <th class="text-center">
                            ID Producto
                        </th>
                        <th class="text-center">
                            Descripción
                        </th>
                        <th class="text-center">
                            Precio
                        </th>
                        <th class="text-center">
                            Cantidad
                        </th>
                        <th class="text-center">
                            Precio Total €
                        </th>
                        <th class="text-center">
                            Acciones
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="fila in ajaxCarrito track by $index">
                        <th class="text-center">{{fila.obj_producto.id}}</th>
                        <td class="text-center"><a href="/producto/view/{{fila.obj_producto.id}}">{{fila.obj_producto.desc}}</a></td>
                        <td class="text-center">{{fila.obj_producto.precio}} €</td>
                        <td class="text-center">{{fila.cantidad}}</td>
                        <td class="text-center">{{(fila.obj_producto.precio * fila.cantidad).toFixed(2)}} €</td>
                        <td class="text-center">
                            <button type="button" style="background-color: lightgreen" ng-click="addProducto(fila.obj_producto.id)" class="btn btn-light btn-sm">
                                <i class="fas fa-plus"></i>
                            </button>
                            &nbsp;&nbsp;
                            <button type="button" style="background-color: lightgoldenrodyellow" ng-click="restarProducto(fila.obj_producto.id,(fila.cantidad-1))" class="btn btn-light btn-sm">
                                <i class="fa fa-minus"></i>
                            </button>
                            &nbsp;&nbsp;
                            <button type="button" style="background-color: lightcoral" ng-click="deleteProducto(fila.obj_producto.id)" class="btn btn-light btn-sm">
                                <i class="fa fa-times"></i>
                            </button>

                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="text-center">{{cantidadTotal}}</td>
                        <td class="text-center"><strong>{{precioTotalProd.toFixed(2)}} €</strong></td>
                        <td class="text-center"><button class="btn btn-sm" style="background-color:  darkolivegreen" ng-show="carrito" ng-click="buyCart()"> Realizar Compra</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div ng-show="carritoVacio" class="row justify-content-md-center">        
        <div class="alert alert-dark col-5" style="text-align: center">
            Tu carrito esta vacío. <a href="producto/plist" class="badge badge-info"> AÑADIR PRODUCTOS </a>
        </div>
    </div>    
    <div ng-show="carritoComprado" class="row justify-content-md-center">        
        <div class="alert alert-primary col-5" style="text-align: center">
            {{ajaxCarritoComprado.toUpperCase()}}<a href="usuario/plistfactura/{{idusuario}}" class="badge badge-success"> VER TUS FACTURAS </a>
        </div>
    </div> 
</main>
<footer class="footer" ng-include="'js/app/footer.html'"></footer>