<header-component></header-component>
<div class="container-fluid mb-5">
    <div class="row" style="margin-top: 80px">
        <div class="col-12">
            <div class="row">
                <div class="mx-auto col-5 text-center">
                    <h3>Editar producto</h3>
                </div>
            </div>
            <div class="row" ng-show="edited">
                <div class="col-5 mx-auto">
                    <ng-form name="userForm" class="form" ng-show="result == null">
                        <div class="form-group">
                            <label>ID</label>
                            <input type="text" class="form-control" id="id" name="id" ng-disabled="true" ng-model="id" />
                        </div>
                        <div class="form-group">
                            <label>Codigo</label>
                            <input type="text" class="form-control" id="codigo" name="codigo" ng-model="codigo" ng-required="true" />
                            <div ng-show="!userForm.codigo.$valid && !userForm.codigo.$pristine" class="alert alert-danger" role="alert">
                                Codigo obligatorio
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Descripción</label>
                            <input type="text" class="form-control" id="desc" name="desc" ng-model="desc" ng-required="true" />
                            <div ng-show="!userForm.desc.$valid && !userForm.desc.$pristine" class="alert alert-danger" role="alert">
                                Descripción obligatoria
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Existencias</label>
                            <input type="text" class="form-control" id="existencias" name="existencias" ng-model="existencias" ng-required="true" />
                            <div ng-show="!userForm.existencias.$valid && !userForm.existencias.$pristine" class="alert alert-danger" role="alert">
                                existencias obligatoria
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Precio</label>
                            <input type="text" class="form-control" id="precio" name="precio" ng-model="precio" ng-required="true" />
                            <div ng-show="!userForm.precio.$valid && !userForm.precio.$pristine" class="alert alert-danger" role="alert">
                                precio obligatorio
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Foto</label>
                            <!-- <input type="text" class="form-control" id="foto" name="foto" ng-model="ajaxDatoProducto.foto" ng-required="true" />
                             <div ng-show="!userForm.foto.$valid" class="alert alert-danger" role="alert">
                                 Foto obligatoria
                             </div>-->
                            <input type="file" file-model="foto"/>
                        </div>




                        <label for="obj_tipoProducto">Tipo de producto:</label>
                        <div class="form-group row ml-3">
                            <tipoproducto-selection 
                                class="modal fade" 
                                id="cadd-location-modal" 
                                obj="obj_tipoProducto"
                                on-tipoproducto-set="tipoProductoRefresh(this,false)">                          
                            </tipoproducto-selection>

                            <div class="control">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"
                                              data-toggle="modal"
                                              data-target="#cadd-location-modal">
                                            <span class="fas fa-search"></span>
                                        </span>
                                    </div>
                                    <input ng-model="obj_tipoProducto.id"
                                           ng-change="tipoProductoRefresh(this, true)"
                                           aria-describedby="basic-addon2"
                                           class="form-control col-sm-2"
                                           id="obj_tipoProducto"
                                           name="obj_tipoProducto"
                                           type="text"
                                           ng-required
                                           ng-model-options="{debounce: 1000}"
                                           maxlength="2" />
                                    <div class="input-group-append">
                                        <span class="input-group-text">
                                            <a href="../tipoproducto/view/{{obj_tipoProducto.id}}">
                                                <span class="p-2 bd-highlight"><i class="fas fa-users fa-1x"></i></span>
                                                Tipo de producto: {{obj_tipoProducto.desc}}
                                            </a>
                                        </span>
                                    </div>
                                </div>
                                <div ng-show="!userForm.obj_tipoProducto.$valid">Tipo de producto no válido</div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between flex-wrap">
                            <button ng-click="update()" type="button" class="btn btn-primary btn-block" ng-disabled="userForm.$invalid">Editar</button>
                            <button type="button" class="btn btn-primary btn-block" onclick="window.history.back()">Volver</button>
                        </div>
                    </ng-form>
                </div>
            </div>
            <div class="row" ng-show="!edited">
                <div class="col-5 mx-auto">
                    <div class="alert alert-success" role="alert">
                        <p class="text-center mt-2"> Producto modificado correctamente.<p> 
                    </div>
                    <button type="button" class="btn btn-primary btn-block mt-2" onclick="window.history.back()">Volver</button>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="footer" ng-include="'js/app/footer.html'"></footer>