.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,300px));     
    grid-auto-rows: 500px;
    grid-gap: 40px 5%;
    padding: 10px;    
    justify-content: center;    
}

.grid-item {    
    text-align: center;
    border: 0.5px solid black;   
    display: grid;
    grid-template-rows: 180px auto auto; 
    border-radius: 15%;

}

.grid-item:hover {
    transform: scale(1.1);
}


.grid-contenido {
    align-items: center;

}
#botones{
    margin-left: 0%;
    margin-right: 0%;
    padding: 20px;
}