/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {

}
.footer {
   position:fixed;
   left:50%;
   right:50%;
   bottom:0%;
   height:5%;
   width:50%;
    background-color: #f5f5f5;
}

body > .container {
    padding: 60px 0;
}

.footer > .container {
    padding-right: 0px;
    padding-left: 0px;
}

code {
    font-size: 80%;
}
#h1{
   margin-top: 50vh;
   margin-bottom: 50vh;
   text-align: center;
   font-size: 90px;
   font-family: cursive;
}

.bounce-in {
  animation: bounce-in 2s ease;
}

@keyframes bounce-in {
  0% {
    opacity: 0;
    transform: scale(.3);
  }
  50% {
    opacity: 1;
    transform: scale(1.05);
  }
  70% { transform: scale(.9); }
  100% { transform: scale(1); }
}