<!-- Fixed navbar -->
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="/"><img src="../../image/project.png">WILDCART</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" ng-class="{'active': c.isActive('/home')}">
                <a class="nav-link hvr-bob" href="home"><img src="../../image/house.png">Home <span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item" ng-show="c.isAdmin" ng-class="{'active': c.isActive('/tipousuario')}">
                <a class="nav-link hvr-bob" href="tipousuario/plist"><img src="../../image/boss.png"> Tipousuario</a>
            </li>
            <li class="nav-item" ng-show="c.isAdmin" ng-class="{'active': c.isActive('/usuario')}">
                <a class="nav-link hvr-bob" href="usuario/plist"><img src="../../image/user.png"> Usuario</a>
            </li>
            <li class="nav-item " ng-show="c.isAdmin" ng-class="{'active': c.isActive('/factura')}">
                <a class="nav-link hvr-bob" href="factura/plist"><img src="../../image/bill.png"> Factura</a>
            </li>
            <li class="nav-item " ng-show="c.ocultar && !c.isAdmin" ng-class="{'active': c.isActive('/factura')}">
                <a class="nav-link hvr-bob" href="usuario/plistfactura/{{c.idUsuariologeado}}"><img src="../../image/bill.png">Mis Facturas</a>
            </li>
            <li class="nav-item" ng-show="c.ocultar && !c.isAdmin" ng-class="{'active': c.isActive('/producto')}">
                <a class="nav-link hvr-bob" href="producto/plist"><img src="../../image/pack.png"> Producto</a>
            <li class="nav-item" ng-show="c.isAdmin" ng-class="{'active': c.isActive('/producto')}">
                <a class="nav-link hvr-bob" href="producto/plist_1"><img src="../../image/pack.png"> Producto</a>
            </li>
            <li class="nav-item" ng-show="c.isAdmin" ng-class="{'active': c.isActive('/tipoproducto')}">
                <a class="nav-link hvr-bob" href="tipoproducto/plist"><img src="../../image/warehouse.png"> Tipoproducto</a>
            </li>


        </ul>
        <form class="form-inline my-2 my-lg-0">
            <div>
                <a ng-show="c.ocultar && !c.isAdmin" class="nav-link hvr-bob" href="carrito"><img src="../../image/carrito.png" ></a>
            </div>
            <div>
                <a ng-show="c.ocultar" style="color: white" href="usuario/view/{{c.idUsuariologeado}}"><img src="../../image/user-login.png"> {{c.usuariologeado| uppercase}}&nbsp;&nbsp;&nbsp;</a>
            </div>
            <div>
                <a href="/login"><button ng-show="!c.ocultar"  class="btn btn-outline-success my-2 my-sm-0" type="button" >Login</button></a>
                <a href="/home"><button ng-show="c.ocultar" ng-click="c.logout()" class="btn btn-outline-danger my-2 my-sm-0" type="button">Logout</button></a>
            </div>
        </form>
    </div>
</nav>
