<header ng-include="'js/app/header.html'"></header>
<main style="margin-top:50px;" role="main" class="container">
    
    <div class="primeraParte"></div>
        
    <form name="userForm" style="margin-bottom: 50px;" ng-show="!mensaje">
        <h3 style="text-align: center">LOGIN</h3>
        <!--DNI-->
       
        <!--LOGIN-->
        <div class="form-group">
            <label>Login</label>
            <input type="text" class="form-control" id="login" name="login" ng-model="login" ng-required="true" />
            <div ng-show="!userForm.login.$valid  && !userForm.login.$pristine" class="alert alert-danger" role="alert">
                Login obligatorio
            </div>
        </div>
        <!--PASSWORD-->
        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" id="password" name="password" ng-model="password" ng-required="true" />
            <div ng-show="!userForm.password.$valid  && !userForm.password.$pristine" class="alert alert-danger" role="alert">
                Password obligatoria
            </div>
        </div>
        <button ng-click="validar()" type="button" class="btn btn-success" ng-disabled="userForm.$invalid">Enviar</button>
    </form>
    <a href="/"> <button class="btn btn-danger">Volver</button> </a>
    <div class="alert alert-success" ng-model="resultado" ng-show="mensaje">
        Usuario logueado.
    </div>
</main>