<header-component></header-component>
<main style="margin-top:50px;" role="main" class="container">

    <div class="primeraParte"></div>

    <form name="userForm" style="margin-bottom: 50px;" ng-show="!mensaje">
        <h1 style="text-align: center">Crear Factura</h1>
        <div class="form-group">
            <!--ID-->
            <label>ID</label>
            <input type="text" class="form-control" id="id" name="id" ng-disabled="true" ng-model="ajaxDatoFactura.id" />
        </div>
        <!--FECHA-->
        <div class="form-group" ng-class="{ 'has-error' : userForm.fecha.$invalid && !userForm.fecha.$pristine }">
            <label>FECHA</label>
            <br>  
            <md-datepicker ng-model="myDate" md-placeholder="Fecha"></md-datepicker>
            <br>
        </div>
        <!-- IVA-->
        <div class="form-group">
            <label>IVA</label>
            <input type="text" class="form-control" id="iva" name="iva" ng-model="ajaxDatoFactura.iva" ng-required="true" />
            <div ng-show="!userForm.iva.$valid && !userForm.iva.$pristine" class="alert alert-danger" role="alert">
                IVA obligatorio
            </div>
        </div>
        <!--TIPO USUARIO-->
        <div class="form-group">
            <label>Usuario</label>
            <span class="input-group-text fas fa-search"
                  data-toggle="modal"
                  data-target="#cadd-location-modal"></span>
            <input type="text" class="form-control" ng-disabled="true" id="obj_tipoUsuario_desc" name="obj_tipoUsuario_desc" ng-model="ajaxDatosUser.id"/><h3><strong>{{ajaxDatosUser.nombre}} {{ajaxDatosUser.ape1}}</strong></h3>
        </div>
        <button ng-click="guardar()" type="button" class="btn btn-success" ng-disabled="userForm.$invalid">Enviar</button>
    </form>
    <a href="javascript:window.history.back();"> <button class="btn btn-danger">Volver</button> </a>
    <div class="alert alert-success" ng-model="resultado" ng-show="mensaje">
        Datos actualizados correctamente.
    </div>
    <div class="alert alert-danger" ng-show="mensajeError">
        Datos erroneos.
    </div>
</main>