<header-component></header-component>
<div class="container-fluid">
    <div class="row">
   <main role="main" class="col-md-12 ml-sm-auto col-lg-12 px-4" style="margin-top: 50px">
            <div class="d-flex justify-content-between flex-wrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2"><i class="fas far fa-file fa-1x"></i> {{nombre2}} {{ape1}}</h1>
                <div class="btn-toolbar mb-2 mb-md-0">
                    <div class="btn-group" style="width:400px;">
                        <p class="mt-2" style="width:200px;">Selecciona RPP: </p>
                        <select class="form-control" 
                                ng-change="update()" 
                                ng-model="rpp">
                            <option value="5">5</option>
                            <option value="10">10</option>
                            <option value="20">20</option>
                            <option value="50">50</option>
                        </select>
                    </div>
              
                    <button type="button" class="btn btn-light  ml-3" ng-click="resetOrder()">
                        <i class="fas fa-sync-alt"></i>
                    </button>
                </div>
            </div>
       
               <div class="row" ng-show="ajaxDataUsuariosNumber===0">
                <div class="col-5 mx-auto">
                    <div class="alert alert-success" role="alert">
                        <p class="text-center mt-2"> El usuario no tiene facturas.<p> 
                    </div>
                  
                </div>
            </div>
            <!--            <div class="row">
                            <div class="col-6">
                                <nav aria-label="paginacion">
                                    <ul class="pagination">
                                        <li class="page-item">
                                            <a class="page-link" ng-show="page > 1" href="usuario/plist/{{rpp}}/{{page - 1}}/{{order}}/{{align}}">Previous</a>
                                        </li>
                                        <li class="page-item" ng-class="{'active':(p == page)}" ng-repeat="p in list">
                                            <a class="page-link" href="usuario/plist/{{rpp}}/{{p}}/{{order}}/{{align}}">{{p}}</a>
                                        </li>
                                        <li class="page-item">
                                            <a class="page-link" ng-show="page != totalPages" href="usuario/plist/{{rpp}}/{{page--1}}/{{order}}/{{align}}">Next</a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>-->
                 <div class="col-md-12 ml-sm-auto col-lg-12">
                <div class="row d-flex justify-content-between flex-wrap align-items-center">
                    <nav aria-label="paginacion">
                        <ul class="pagination">
                           <li class="page-item ">
                                <a class="page-link text-secondary bg-light" ng-show="page > 2" href="{{ob}}/plistxusuario/{{rpp}}/1/{{id}}/{{order}}/{{align}}">First</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link text-secondary bg-light" ng-show="page > 1" href="{{ob}}/plistxusuario/{{rpp}}/{{id}}/{{page - 1}}/{{order}}/{{align}}">Previous</a>
                            </li>
                            <li class="page-item" ng-class="{'active':(p == page), 'disabled': p === '...'}" ng-repeat="p in list2 track by $index">
                                <a class="page-link text-secondary" href="{{ob}}/plistxusuario/{{rpp}}/{{p}}/{{id}}/{{order}}/{{align}}">{{p}}</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link text-secondary bg-light" ng-show="page != totalPages" href="{{ob}}/plistxusuario/{{rpp}}/{{page--1}}/{{id}}/{{order}}/{{align}}">Next</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link text-secondary bg-light" ng-show="page != totalPages-1 && page != totalPages" href="{{ob}}/plistxusuario/{{rpp}}/{{totalPages}}/{{id}}/{{order}}/{{align}}">Last</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="pb-5">
                    <a href="{{ob}}/newxusuario/{{id}}" class="btn btn-outline-secondary btn-sm active float-right" role="button" aria-pressed="true" ng-show="ajaxDataUsuariosNumber!=0" ng-if="tipousuarioID==1"><i class="fas fa-plus-circle fa-1x"></i> Crear nueva factura</a>
 
                </div>
            </div>

  


               <div class="table-responsive" style="text-align: center;">
                <table class="table table-striped table-sm tabla" ng-show="ajaxDataUsuariosNumber!=0">
                    <tr style="background-color:    #b3b6b7;">
                        <th>
                            ID
                            <button type="button" class="btn btn-light" ng-click="ordena('id', 'asc')">
                                <i class="fas fa-long-arrow-alt-up"></i>
                            </button>
                            <button type="button" class="btn btn-light" ng-click="ordena('id', 'desc')">
                                <i class="fas fa-long-arrow-alt-down"></i>
                            </button>
                        </th>
                        <th>
                            Fecha
                            <button type="button" class="btn btn-light" ng-click="ordena('fecha', 'asc')">
                                <i class="fas fa-long-arrow-alt-up"></i>
                            </button>
                            <button type="button" class="btn btn-light" ng-click="ordena('fecha', 'desc')">
                                <i class="fas fa-long-arrow-alt-down"></i>
                            </button>
                        </th>
                        <th>
                            IVA
                            <button type="button" class="btn btn-light" ng-click="ordena('iva', 'asc')">
                                <a class="fas fa-long-arrow-alt-up" ></a>

                            </button>
                            <button type="button" class="btn btn-light" ng-click="ordena('iva', 'desc')">
                                <i class="fas fa-long-arrow-alt-down"></i>
                            </button>
                        </th>
                     
                        <th> 
                                    <p style="margin-left: 5%">Acciones</p> 
                        </th>
                    </tr>
                    <tr ng-repeat="fila in ajaxDataUsuarios track by $index">
                        <td>{{fila.id}}</td>
                        <td>{{fila.fecha}}</td>
                        <td>{{fila.iva}}</td>
                        <td><button type="button" class="btn btn-light icon" ng-click="linea(fila.id)" ng-disabled="{{fila.link_linea}}==0">{{fila.link_linea}}</button>
                            <button type="button" class="btn btn-light icon" ng-click="view(fila.id)">
                                <i class="fas fa-eye"></i>
                            </button>
                            <button type="button" class="btn btn-light icon" ng-click="edit(fila.id)" ng-show="tipousuarioID===1">
                                <i class="fas fa-edit"></i>
                            </button>
                            <button type="button" class="btn btn-light icon" ng-click="remove(fila.id)" ng-show="tipousuarioID===1">
                                <i class="fas fa-trash-alt"></i>
                            </button></td>
                    </tr>
                </table>
    <div class="col-md-1 ml-sm-auto col-lg-1">
            
                  
        <a href="/wildcart/"><button type="button" class="btn btn-primary btn-block mt-2 mb-5 mr-1">Volver</button></a> 
             
        </div>
            </div>
        </main>
    </div>
</div>
<footer class="footer" ng-include="'js/app/footer.html'"></footer>